* {
    box-sizing: border-box;
    font-family: Geometria;
  }
  
  a:active,
  a:hover,
  a {
    text-decoration: none;
    color: black;
  }
  .container {
    max-width: 1200px;
  }
  .wrapper-header {
    position: relative;
  }
  .header__block {
    margin-top: 22px;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .header-flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav__contry {
    margin-right: 24px;
  }
  
  .select-country {
    border: 1px solid #ffc83e;
    border-radius: 9px;
    background: none;
    appearance: none;
    background: url(/images/Icon__blackswez.png) no-repeat right;
    background-position-x: calc(100% - 18px);
    color: black;
    padding: 5px 20px 9px 18px;
  }
  .select-country__option {
    font-weight: 500;
    font-size: 14px;
    color: #383838;
  }
  .select-country:hover {
    border: 1px solid #8f742f;
  }
  
  .nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav__contry {
    margin-right: 24px;
  }
  .nav__link {
    color: black;
    font-weight: 400;
    margin-right: 10px;
    font-size: 14px;
  }
  .nav__link:hover {
    font-weight: 500;
  }
  .contacts__link {
    color: black;
    font-weight: 500;
    font-size: 14px;
  }
  .contacts__link:hover {
    color: #ffc83e;
  }
  
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .nav__links {
    display: flex;
    justify-content: space-around;
  }
  .right-box {
    display: flex;
  }
  .contacts {
    margin-right: 38px;
  }
  
  .contacts__telephone {
    border: 1px solid #ffc83e;
    border-radius: 8px;
    padding: 9px;
    margin-right: 5px;
  }
  
  .contacts__basket {
    background: linear-gradient(
      92.79deg,
      #ffc83e 0%,
      #ffd876 27.4%,
      #ffc83e 100%
    );
    border-radius: 8px;
    padding: 10px;
  }
  .basket-block {
    display: inline-block;
    position: relative;
  }
  
  .psevdo {
    position: absolute;
    right: -11px;
    top: -17px;
    color: white;
    background: #ef2d2d;
    padding: 1px 7px;
    border-radius: 50%;
  }
  
  .main {
    background-color: #FAFAFA;;
    padding-top: 30px;
    padding-bottom: 115px;
  }
  .bread-crumbs {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #383838;
  }
  .bread-crumbs__main {
    border-bottom: 1px solid black;
  }
  .bread-crumbs__list {
    padding-left: 0;
  }
  .bread-crumbs__list li {
    list-style-type: none;
    display: inline-block;
  }
  
  .bread-crumbs__main::after {
    border-bottom: 1px solid #FAFAFA;;
    content: " / ";
  }
  .page__title {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 42px;
    /* identical to box height, or 140% */
  
    text-transform: uppercase;
  
    color: #383838;
  }
  
  .form-class {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  
  .form__input {
    width: 100%;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 16px 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    background: none;
    margin-bottom: 20px;
  
    color: #333333;
  }
  .form__name-input {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
  
    color: #666666;
  }
  
  .flex-zakaz {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
  }
  
  .flex-zakaz__1 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
  
    color: #383838;
  }
  
  .flex-zakaz__2 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  
    color: #383838;
  }
  
  .goods-count {
    margin-top: 31px;
  }
  
  .goods-count__cnt {
    /* display: block; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #f1f1f1;
    padding: 10px 15px 8px 15px;
    margin-right: 14px;
  }
  
  .goods-count__title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  
    color: #383838;
  }
  .table {
    margin-top: 18px;
  }
  
  .table__img {
    padding: 7px 14px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .table__title {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
  
    color: #666666;
  }
  
  .table__disc {
    display: block;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
  
    color: #383838;
  }
  
  .table__under {
    text-decoration-line: underline;
  }
  .table__delite {
    border-radius: 50%;
    padding: 5px 9px;
    width: 36px;
    height: 36px;
    background: #f1f1f1;
  }
  
  .radio-block{
    margin-top: 25px;
  }
  .input__radio {
    display: none;
  }
  
  .input__label::before {
    content: "";
    margin-right: 9px;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    border-radius: 5px;
    width: 20px;
    height: 20px;
  }
  
  
  .form__square {
    display: inline-block;
    width: 20px;
    height: 20px;
    background:none;
    border: 1px solid #ffffff;
    border-radius: 7px;
    position: relative;
  }
  
  .input__radio:checked + .form__square::after {
    content:'✓';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  
  }
  
  .result{
  margin-top: 80px;
  }
  
  .result__title{
    font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 42px;
  /* identical to box height, or 140% */
  
  text-transform: uppercase;
  
  color: #383838;
  }
  
  .rezult__flex-blocks{
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 27px;
    border-bottom: 1px solid white;
  }
  
  .rezult__flex{
    
    display: flex;
    justify-content: space-between;
  }
  
  .rezult__flex_first{
    max-width: 140px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    
    
    color: #666666;
    
  }
  
  .rezult__flex_second{
    max-width: 140px;
    font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  
  text-align: right;
  
  color: #383838;
  
  }
  
  .rezult__paid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:27px 0;
    border-bottom: 1px solid white;
  }
  .rezult__paid_first{
    font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  
  
  color: #666666;
  }
  
  .rezult__paid_second{
    font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: right;
  
  color: #383838;
  }
  .rezult__button{
    margin-top: 30px;
    width: 100%;
  
  
  }
  .rezult__button_btn-basket{
    background: linear-gradient(92.79deg, #FFC83E 0%, #FFD876 27.4%, #FFC83E 100%);
  box-shadow: 0px 3px 0px #E89F37;
  border-radius: 12px;
  border: none;
  padding-top:20px ;
  
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */
  
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  
  color: #383838;
  
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.25);
  width: 100%;
  height: 50px;
  cursor: pointer;
  display: block;
  }
  
  .rezult__button_spn{
    display: block;
    margin-top: 16px;
    font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  /* or 142% */
  padding-right: 19px;
  
  
  color: #666666;
  }
  .rezult__button_spn-link{
    color: #666666;
    border-bottom: 1px solid #666666;
  }

  .page-title {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 42px;
    text-transform: uppercase;
    color: #383838;
    padding-top: 12px;
  }
  .row-first-block {
    margin-top: 45px;
  }
  .cart__img_cart-page {
    background: #ffffff;
    border: 1px solid #e9e9e9;
    border-radius: 14px;
    padding: 60px 123px;
  }
  
  .cart-discr {
    margin-top: 63px;
  }
  
  .cart-discr__title {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 42px;
    /* identical to box height, or 140% */
  
    text-transform: uppercase;
    display: block;
    color: #383838;
  }
  
  .cart-discr__art {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    margin-top: 6px;
  
    display: block;
    color: #666666;
  }
  
  .cart-discr__change-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    margin-top: 30px;
    color: #383838;
    display: block;
  }
  
  .cart-discr__change {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 14px;
  }
  
  .change_block{
    width: 100%;
  }
  
  .change_font {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
  
    color: #666666;
  }
  
  .change__select {
    display: block;
    margin-top: 10px;
    border: 2px solid #ffffff;
    background: none;
    border-radius: 10px;
    font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  padding:16px 15px 16px 20px;
  color: #333333;
  width: 100%;
  appearance: none;
  background: url(/images/Icon__blackswez.png) no-repeat right;
    background-position-x: calc(100% - 15px);
  }
  
  .block-discr{
    margin-top: 30px;
  }
  
  .block-discr__buttons{
    display: flex;
    gap: 14px;
  }
  
  .block-discr__button{
    background-color: #F1F1F1;
  border-radius: 8px;
  text-align: center;
  height: 46px;
  width: 178px;
  padding-top: 17px;
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */
  
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  
  color: #383838;
  
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.25);
  }
  
  .block-discr__button_active{
    background: linear-gradient(92.79deg, #FFC83E 0%, #FFD876 27.4%, #FFC83E 100%);
  }
  .block-discr__dscr{
    padding:26px 102px 26px 30px;
    margin-top: 14px;
  }
  
  .block-discr__dscr p{
    font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  
  
  color: #666666;
  }
  
  
.katalog-filter {
    padding: 29px 20px 15px 28px;
    background: #ffffff;
    border-radius: 14px;
  }
  
  .katalog-filter__title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
  
    color: #383838;
  }
  .katalog-filter__items {
    margin-top: 21px;
  }
  .katalog-filter__item-title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #515151;
  }
  .katalog-filter__item-title::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 9.5px;
    height: 5.5px;
    background-image: url("/images/select__grey.svg");
  }
  .katalog-filter__item {
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
  }
  .katalog-filter__item::after {
    content: '';
    position: absolute;
    margin-top: 15px;
    right: -20px;
    left: -28px;
    max-width: 500px;
    border-bottom: 1px solid #ececec;
  }
  
  .katalog-filter__item:last-child {
    border-bottom: none;
    padding-bottom: 0px;
  }
  .product-filter{
    padding:29px 29px 15px 28px;
    margin-top: 20px;
    background: #FFFFFF;
  border-radius: 14px;
  }
  
  .katalog-filter__item:first-child {
    padding-top: 0px;
  }
  
  .katalog-filter__checkbox{
   position: relative;
   /* display: none; */
  }
  .katalog-filter__item-title:hover .katalog-filter__checkbox{
    display: inline-block;
  }
  .katalog-filter__item:last-child::after {
    content: none;
  }
  .product-filter__title{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    
    color: #383838;
  }
  .product-filter__items{
    margin-top: 21px;
  }
  .product-filter__item{
    border-bottom: 1px solid #ECECEC;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
  }
  .product-filter__item:first-child {
    padding-top: 0px;
  }
  .product-filter__item:last-child {
    border-bottom: none;
    padding-bottom: 0px;
  }
  .product-filter__item:last-child::after {
    content: none;
  }
  .product-filter__item::after {
    content: '';
    position: absolute;
    margin-top: 15px;
    right: -20px;
    left: -28px;
    max-width: 500px;
    border-bottom: 1px solid #ececec;
  }
  
  .product-filter__item-title{
    font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  
  
  color: #515151;
  }
  .product-filter__item-title::after {
    content: "";
    position: absolute;
    right: 0;
    top:50%;
    width: 9.5px;
    height: 5.5px;
    background-image: url("/images/select__grey.svg");
  }
  
  .product-filter__button{
    background: linear-gradient(92.79deg, #FFC83E 0%, #FFD876 27.4%, #FFC83E 100%);
  box-shadow: 0px 3px 0px #E89F37;
  border-radius: 12px;
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */
  border: none;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  height: 46px;
  padding: 18px 40px 15px 40px;
  color: #383838;
  display: block;
  margin-top: 20px;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.25);
  }
  
  .product-filter__button:hover{
    color: #e89f37;
    background: none;
    transition: 1s;
  }
  
  .page__main-button {
    display: block;
    text-align: center;
    margin-top: 20px;
    background: linear-gradient(
      92.79deg,
      #ffc83e 0%,
      #ffd876 27.4%,
      #ffc83e 100%
    );
    box-shadow: 0px 3px 0px #e89f37;
    border-radius: 12px;
    text-transform: uppercase;
    padding-top: 20px;
    width: 270px;
    height: 50px;
    font-weight: 800;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #383838;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.25);
  }
  .page__main-button:hover {
    color: #e89f37;
    background: none;
    transition: 1s;
  }
  
  .cart {
    border: 2px solid #e9e9e9;
    border-radius: 14px;
    height: 100%; /*для старых браузеров на всякий случай*/
    height: calc(100% - 30px);
    margin-bottom: 22px;
    position: relative;
    padding: 15px 15px 54px 15px;
  }
  
  .cart__img {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .cart__title {
    display: block;
    margin-top: 19px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
  }
  
  .cart__link {
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    bottom: 16px;
    left: 15px;
    text-decoration: underline;
    color: black;
  }
  
  .cart-items {
    margin-top: 40px;
  }
  
  .cart:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .cart:hover .cart__title,
  .cart_link {
    color: #e89f37;
  }
  
  .sort-by {
    margin-top: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    position: relative;
  
    color: #666666;
  }
  
  .active {
    color: #333333;
  }
  
  .sort-by__item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height, or 179% */
    margin-left: 14px;
    margin-right: 25px;
  }
  .sort-by__item::after {
    content: "";
    position: absolute;
    height: 28px;
    width: 18px;
    background-image: url("/images/rolevante.svg");
  }
  
  .row-prod {
    margin-top: 4px;
  }
  .row-prod__item {
    margin-top: 16px;
  }
  
  .prod {
    background: #ffffff;
    border-radius: 10px;
    height: 100%; /*для старых браузеров на всякий случай*/
    /* height: calc(100% - 30px); */
    position: relative;
    padding: 23px 15px 71px 15px;
    overflow: hidden;
  }
  .prod:hover .prod__title {
    color: rgba(255, 200, 62, 1)
  }
  
  .prod__img {
    display: block;
    margin: 0 auto;
  }
  
  .prod__title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #383838;
    display: block;
    margin-top: 17px;
  }
  
  .prod__art {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    display: block;
    margin-top: 6px;
    color: #666666;
  }
  .prod__select {
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
  
    color: #333333;
  }
  .prod__select-disc {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    display: block;
    margin-top: 12px;
    color: #666666;
  }
  .prod__block-down {
    position: absolute;
    bottom: 15px;
    right: 15px;
    left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .price_number {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;
    /* identical to box height, or 92% */
  
    color: #383838;
  }
  .lower-block{
    margin-top: 30px;
  }
  .lower-block__pages{
    font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  
  
  color: #383838;
  
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.35);
  }
  
  .lower-block__pages_pred{
    margin-right: 24px;
  }
  
  .lower-block__page{
    font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  
  margin-right: 24px;
  color: #666666;
  }
  .lower-block__pages_sled{
    margin-left: -3px;
  }
  .active_page{
    background: linear-gradient(92.79deg, #FFC83E 0%, #FFD876 27.4%, #FFC83E 100%);
    padding: 8px 13px 6px 14px;
    border-radius: 8px;
    display: inline-block;
  }
  .lower-block__text{
    margin-top: 30px;
    font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  
  
  color: #666666;
  }
  .lower-block__discr_title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    
    color: #333333;
  }
  
  .lower-block__discr_list{
    font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  
  
  color: #666666;
  padding-left: 15px;
  margin-top: 8px;
  }
  
  
.form-class {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  
  .form__input {
    width: 100%;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 16px 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    background: none;
    margin-bottom: 20px;
  
    color: #333333;
  }
  .form__name-input {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
  
    color: #666666;
  }
  
  .flex-zakaz {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
  }
  
  .flex-zakaz__1 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
  
    color: #383838;
  }
  
  .flex-zakaz__2 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  
    color: #383838;
  }
  
  .goods-count {
    margin-top: 31px;
  }
  
  .goods-count__cnt {
    /* display: block; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #f1f1f1;
    padding: 10px 15px 8px 15px;
    margin-right: 14px;
  }
  
  .goods-count__title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  
    color: #383838;
  }
  .table {
    margin-top: 18px;
  }
  
  .table__img {
    padding: 7px 14px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .table__title {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
  
    color: #666666;
  }
  
  .table__disc {
    display: block;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
  
    color: #383838;
  }
  
  .table__under {
    text-decoration-line: underline;
  }
  .table__delite {
    border-radius: 50%;
    padding: 5px 9px;
    width: 36px;
    height: 36px;
    background: #f1f1f1;
  }
  
  .radio-block{
    margin-top: 25px;
  }
  .input__radio {
    display: none;
  }
  
  .input__label::before {
    content: "";
    margin-right: 9px;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    border-radius: 5px;
    width: 20px;
    height: 20px;
  }
  
  
  .form__square {
    display: inline-block;
    width: 20px;
    height: 20px;
    background:none;
    border: 1px solid #ffffff;
    border-radius: 7px;
    position: relative;
  }
  
  .input__radio:checked + .form__square::after {
    content:'✓';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  
  }
  
  .result{
  margin-top: 80px;
  }
  
  .result__title{
    font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 42px;
  /* identical to box height, or 140% */
  
  text-transform: uppercase;
  
  color: #383838;
  }
  
  .rezult__flex-blocks{
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 27px;
    border-bottom: 1px solid white;
  }
  
  .rezult__flex{
    
    display: flex;
    justify-content: space-between;
  }
  
  .rezult__flex_first{
    max-width: 140px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    
    
    color: #666666;
    
  }
  
  .rezult__flex_second{
    max-width: 140px;
    font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  
  text-align: right;
  
  color: #383838;
  
  }
  
  .rezult__paid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:27px 0;
    border-bottom: 1px solid white;
  }
  .rezult__paid_first{
    font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  
  
  color: #666666;
  }
  
  .rezult__paid_second{
    font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: right;
  
  color: #383838;
  }
  .rezult__button{
    margin-top: 30px;
    width: 100%;
  
  
  }
  .rezult__button_btn{
    background: linear-gradient(92.79deg, #FFC83E 0%, #FFD876 27.4%, #FFC83E 100%);
  box-shadow: 0px 3px 0px #E89F37;
  border-radius: 12px;
  border: none;
  
  
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */
  
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  
  color: #383838;
  
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.25);
  width: 100%;
  height: 50px;
  cursor: pointer;
  display: block;
  }
  
  .rezult__button_spn{
    display: block;
    margin-top: 16px;
    font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  /* or 142% */
  padding-right: 19px;
  
  
  color: #666666;
  }
  .rezult__button_spn-link{
    color: #666666;
    border-bottom: 1px solid #666666;
  }

.footer {
    margin-top: 28px;
    margin-bottom: 25px;
  }
  .footer__block {
    display: flex;
    justify-content: space-between;
  }
  
  .footer__links {
    display: flex;
    gap: 30px;
  }
  .footer__fbck {
    display: flex;
    gap: 59px;
  }
  .footer__link {
    font-weight: 400;
    font-size: 12px;
    color: #383838;
    text-decoration-line: underline;
  }
  .footer__feedback {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #383838;
  }
  .footer__feedback_call::before {
    content: " ";
    background-image: url("/images/Phone.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    left: -24px;
    width: 18px;
    height: 18px;
  }
  .footer__feedback_mail::before {
    content: "";
    background-image: url("/images/Mail.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    left: -24px;
    width: 18px;
    height: 18px;
  }
  .footer__feed {
    position: relative;
  }
  .footer__call {
    font-size: 14px;
    font-weight: 400;
    color: #383838;
  }
  
  .footer__cop {
    font-size: 12px;
  }