* {
  box-sizing: border-box;
  font-family: Geometria;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: black;
}
.container {
  max-width: 1200px;
}

.wrapper-header {
  position: relative;
}
.header__block {
  margin-top: 22px;
  position: absolute;
  width: 100%;
}
.first-block {
  padding-top: 183px;
  background-image: url("/images/header__background.jpg");
  background-size: cover;
  height: 846px;
}
.select-country {
  border: 1px solid #ffc83e;
  border-radius: 9px;
  background: none;
  appearance: none;
  background: url(/images/Icon__select.png) no-repeat right;
  background-position-x: calc(100% - 18px);
  color: white;
  padding: 5px 20px 9px 18px;
}
.select-country__option {
  font-weight: 500;
  font-size: 14px;
  color: #383838;
}
.select-country:hover {
  border: 1px solid #8f742f;
}
.header-flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__contry {
  margin-right: 24px;
}
.nav__link {
  color: white;
  font-weight: 400;
  margin-right: 10px;
  font-size: 14px;
}
.nav__link:hover {
  color: #ffc83e;
}
.contacts__link {
  color: white;
  font-weight: 500;
  font-size: 14px;
}
.contacts__link:hover {
  color: #ffc83e;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav__links {
  display: flex;
  justify-content: space-around;
}
.right-box {
  display: flex;
}
.contacts {
  margin-right: 38px;
}

.contacts__telephone {
  border: 1px solid #ffc83e;
  border-radius: 8px;
  padding: 9px;
  margin-right: 5px;
}

.contacts__basket {
  background: linear-gradient(
    92.79deg,
    #ffc83e 0%,
    #ffd876 27.4%,
    #ffc83e 100%
  );
  border-radius: 8px;
  padding: 10px;
}
.basket-block {
  display: inline-block;
  position: relative;
}

.katalog__top {
  margin-top: 40px;
}

.psevdo {
  position: absolute;
  right: -11px;
  top: -17px;
  color: white;
  background: #ef2d2d;
  padding: 1px 7px;
  border-radius: 50%;
}

.offer__name {
  text-transform: uppercase;
  line-height: 62px;
}

.offer__text {
  font-size: 48px;
  font-weight: 800;
  color: #ffffff;
  padding-right: 677px;
}
.offer__button {
  margin-top: 36px;
}
.offer__btn {
  text-align: center;
  display: block;
  width: 290px;
  height: 64px;
  background: linear-gradient(
    92.79deg,
    #ffc83e 0%,
    #ffd876 27.4%,
    #ffc83e 100%
  );
  text-transform: uppercase;
  box-shadow: 0px 3px 0px #e89f37;
  border-radius: 12px;
  padding-top: 26px;
  color: #383838;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 0.2em;
}
.offer__btn:hover {
  background: none;
  box-shadow: 0px 4px 0px #e89f37;
  color: white;
  transition: 1s;
}
.offers {
  margin-top: 124px;
  padding-bottom: 253px;
}
.map {
  width: 100%;
  height: 466px;
}
.offer-item {
  position: relative;
  padding: 39px 52px 33px 40px;
  height: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 70px 74px rgba(0, 0, 0, 0.07),
    inset 0px 0px 1px rgba(255, 255, 255, 0.34);
  backdrop-filter: blur(6px);
  border-radius: 14px;
}

.offer-item:hover {
  height: calc(100% + 24px);
  background: linear-gradient(
    92.79deg,
    #ffc83e 0%,
    #ffd876 27.4%,
    #ffc83e 100%
  );
  color: black;
  padding-top: 31px;
  padding-bottom: 27px;
  top: -10px;
}

.offer-item__billet {
  position: absolute;
  display: none;
  right: 0;
  bottom: 0;
}
.offer-item:hover .offer-item__billet {
  display: block;
  z-index: -1;
}

.offer-item__title {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
.offer-item__discr {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-top: 10px;
  line-height: 18px;
}

.offer-item__link {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  display: block;
  margin-top: 18px;
  display: none;
  line-height: 18px;
}

.offer-item:hover .offer-item__title {
  color: black;
}

.offer-item:hover .offer-item__discr {
  color: black;
}

.offer-item:hover .offer-item__link {
  display: inline-block;
}

.container__block {
  padding-top: 100px;
  padding-bottom: 100px;
}
.container__block_uslugi {
  padding-top: 100px;
  padding-bottom: 60px;
}
.container__block_projects {
  padding-top: 100px;
  padding-bottom: 100px;
}
.block__title {
  display: block;
  font-weight: 800;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #383838;
  margin-bottom: 25px;
}
.block-projects__title {
  display: block;
  font-weight: 800;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #383838;
  margin-bottom: 40px;
}
.uslugi__block {
  display: block;
  font-weight: 800;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #383838;
  margin-bottom: 49px;
  display: block;
}
.uslugi__title {
  margin-bottom: 47px;
  display: block;
}
.cart {
  background: #ffffff;
  border: 1px solid #e9e9e9;
  border-radius: 14px;
  height: 100%; /*для старых браузеров на всякий случай*/
  height: calc(100% - 30px);
  margin-bottom: 22px;
  position: relative;
  padding: 15px 15px 54px 15px;
}
.cart__row2 {
  background: #ffffff;
  border: 1px solid #e9e9e9;
  border-radius: 14px;
  height: 100%; /*для старых браузеров на всякий случай*/
  height: calc(100% - 30px);
  margin-bottom: 22px;
  position: relative;
  padding: 15px 15px 75px 15px;
}
.uslugi__cart {
  background: #ffffff;
  border-radius: 14px;
  height: 100%; /*для старых браузеров на всякий случай*/
  height: calc(100% - 30px);
  margin-bottom: 40px;
  border: none;
  background: none;
  padding: 0;
}

.cart__project {
  background: #ffffff;
  border: 1px solid #e9e9e9;
  border-radius: 14px;
  height: 100%; /*для старых браузеров на всякий случай*/
  height: calc(100% - 20px);
  margin-bottom: 22px;
  position: relative;
  padding: 15px 15px 53px 15px;
}
.uslugi__cart:hover,
.cart__project:hover,
.cart__row2:hover,
.cart:hover {
  box-shadow: 5px 70px 74px rgba(0, 0, 0, 0.1),
    inset 0px 0px 1px rgba(255, 255, 255, 0.34);
}
.cart:hover .cart__link {
  color: #e89f37;
}
.cart__project:hover .project__link {
  color: #e89f37;
}
.cart__row2:hover .cart__link {
  color: #e89f37;
}
.cart__row2:hover .cart__title {
  color: #e89f37;
}

.cart__img {
  width: 100%;
}
.uslugi__cart:hover .uslugi-cart__title {
  color: #e89f37;
}
.cart__project:hover .project__title {
  color: #e89f37;
}
.cart:hover .cart__title {
  color: #e89f37;
}
.cart__title {
  display: block;
  margin-top: 19px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  padding-left: 9px;
}
.project__title {
  display: block;
  margin-top: 17px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  padding-left: 9px;
}

.project__address {
  display: block;
  margin-top: 9px;
  font-size: 12px;
  font-weight: 400;
  padding-left: 28px;
}
.project__address::before {
  content: " ";
  background-image: url("/images/Location.svg");
  position: absolute;
  left: 19px;
  width: 17px;
  height: 17px;
  background-size: cover;
}
.project__prop {
  display: block;
  margin-top: 11px;
  padding-left: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
}
.project__prop_weight {
  font-weight: 600;
}
.cart__link {
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  bottom: 16px;
  left: 15px;
  padding-left: 9px;
}
.project__link {
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  bottom: 25px;
  left: 15px;
  padding-left: 9px;
}
.project__link::after {
  content: " >";
}
.cart__text {
  display: block;
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
}
.cart__link::after {
  content: " >";
}
.block__button {
  text-align: center;
  padding-top: 17px;
  display: block;
  width: 206px;
  height: 50px;
  color: black;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 800;
  background-color: rgba(255, 200, 62, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 14px;
  margin: 15px auto 0;
  letter-spacing: 0.2em;
}
.project__button {
  text-align: center;
  padding-top: 20px;
  display: block;
  width: 206px;
  height: 50px;
  color: black;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 14px;
  font-weight: 800;
  background-color: rgba(255, 200, 62, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 14px;
  margin: 22px auto 0;
  letter-spacing: 0.2em;
}
.project__button:hover {
  background-color: rgb(228, 173, 36);
}
.block__button:hover {
  background-color: rgb(228, 173, 36);
}

.uslugi {
  background-color: #fafafa;
}

.uslugi-cart__title {
  display: block;
  margin-top: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #383838;
  padding-right: 70px;
}

.uslugi-cart__discr {
  margin-top: 8px;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #666666;
  padding-right: 50px;
}

.footer {
  margin-top: 28px;
  margin-bottom: 25px;
}
.footer__block {
  display: flex;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  gap: 30px;
}
.footer__fbck {
  display: flex;
  gap: 59px;
}
.footer__link {
  font-weight: 400;
  font-size: 12px;
  color: #383838;
  text-decoration-line: underline;
}
.footer__feedback {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #383838;
}
.footer__feedback_call::before {
  content: " ";
  background-image: url("/images/Phone.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  left: -24px;
  width: 18px;
  height: 18px;
}
.footer__feedback_mail::before {
  content: "";
  background-image: url("/images/Mail.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  left: -24px;
  width: 18px;
  height: 18px;
}
.footer__feed {
  position: relative;
}
.footer__call {
  font-size: 14px;
  font-weight: 400;
  color: #383838;
}

.footer__cop {
  font-size: 12px;
}
